{% extends 'customer/customer_base.html' %}

{% block content %}


<div class="container">
  <div class="row">



 {% for product in data %}
<div class="col-md-4">
  <div class="row custom-row-border">


<div class="card" style="width: 16rem;">
  <img  src="{{product.product_data.product_image.url}}" alt="Product Image" style="width: 300px; height: 180px;" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">{{product.product_data.name}}</h4>
    <h6 class="card-title">{{product.product_data.brand}}</h6>
     <p class="card-text">{{product.product_data.quantity}}</p>
    <p class="card-text">{{product.product_data.product_description }}</p>
    <p class="card-text">{{product.product_data.product_price}}</p>




  </div>

  <div class="card-body">
    <a class="btn btn-primary" href="{% url 'cart_product' product.id %}" role="button">Buy Now</a>
      <a class="btn btn-primary" href="{% url 'delete_cart' product.id %}" role="button">Remove</a>

  </div>
</div>
</div>
  </div>
     {% if forloop.counter|divisibleby:3 %}
        </div><div class="row">
      {% endif %}

{% endfor %}

 </div>
  </div>
{% endblock %}